body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
  padding: 20px;
}

body {
  text-align: center;
  padding-top: 20px;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3E5D9C;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #082453}

button:active {
  background-color: #082453;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
